# This workflow will install the dependencies and run the tests for the project.
name: lint and test
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

  workflow_dispatch:

jobs:
  lint:
    name: lint
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - uses: pre-commit/action@v3.0.1

  test:
    name: test
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: pytest --tb=short --disable-warnings -q --maxfail=1 --cov=devtools --cov-report=xml:devtools/codacy/coverage.xml --cov-report=html:devtools/htmlcov --cov-fail-under=100 --cov-config=.coveragerc tests/
